services:
  kafka:
    image: bitnami/kafka:latest
    container_name: kafka_server
    ports:
      - "9092:9092"
    environment:
      # 1. SERVER ROLE SETTINGS (KRaft)
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: controller,broker
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      # 2. LISTENERS (Where the magic happens)
      # We define two listeners: CONTROLLER (Internal) and CLIENT (External/Apps)
      KAFKA_CFG_LISTENERS: CLIENT://:9092,CONTROLLER://:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: CLIENT://localhost:9092

      # 3. SECURITY MAPPING
      # We map the 'CLIENT' listener to use SASL_PLAINTEXT (User/Pass)
      # We keep 'CONTROLLER' as PLAINTEXT (Internal communication doesn't strictly need auth for local)
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,CLIENT:SASL_PLAINTEXT

      # 4. AUTHENTICATION DETAILS
      KAFKA_CFG_SASL_ENABLED_MECHANISMS: PLAIN
      KAFKA_CFG_SASL_MECHANISM_INTER_BROKER_PROTOCOL: PLAIN

      # 5. CREATE USERS (Comma separated)
      # This creates a user "vimal" with password "pass123"
      KAFKA_CLIENT_USERS: vimal,admin
      KAFKA_CLIENT_PASSWORDS: pass123,adminpass

    volumes:
      - kafka_data:/bitnami/kafka

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka_ui
    ports:
      - "8080:8080"
    environment:
      # 1. Enable the "Wizard" mode
      DYNAMIC_CONFIG_ENABLED: 'true'
    volumes:
      # 2. Persist the config file so your clusters are saved on restart
      - kafka_ui_config:/etc/kafkaui

volumes:
  kafka_data:
  kafka_ui_config: # <--- Don't forget to define the volume
